################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProcurarTextoNoArquivo/obj/x86/Debug
/ProcurarTextoNoArquivo/bin/Debug
/ProcurarTextoNoArquivo/obj/x86/Release
/ProcurarTextoNoArquivo/bin/Release
